@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Nanum+Pen+Script&family=Patrick+Hand&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --smaller: .75;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    font-family: 'Chewy', sans-serif;
}
:root {
    --text-color-main: #b67256;
    --text-color-queen: #40231f;
    --text-color-lock: #322254;
    --background-color: #fff1e6;
    --background-color-queen: #204241;
    --background-color-lock: #4ea646;
    --background-color-articles: #e8d1c5; 
    --overline-color: #bcc5d4;
    scroll-behavior: smooth;
    background-color: var(--background-color);
    color: var(--text-color);
}

img {
    display: block;
    width: 100%;
}

.global-container {
    max-width: 1200px;
    margin:auto;
}
