body {
    background-color: var(--text-color-main);
}

.blog__title {
    font-family: 'Chewy';
    font-size: 34px;
    text-align: center;
    color: var(--text-color-main);
}

.blog__name {
    font-family: 'Chewy';
    font-size: 25px;
    text-align: center;
    color: var(--text-color-main);
}

.blog__description {
    font-family: 'Patrick hand', sans-serif;
    font-size: 20px;
    color: var(--text-color-main);
    text-align: center;
}

.article__title {
    font-family: 'Chewy';
    font-size: 22px;
    font-weight: 400;
    color: var(--text-color-main);
}

.blog {
    padding: 60px 24px;
    text-align: left;
    background-color: var(--background-color-articles);
}

.blog__articles img {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 6px;
    margin-top: 40px;
}

.article__description {
    font-family: 'Patrick hand', sans-serif;
    font-size: 18px;
    color: var(--text-color-main);
    margin-top: 20px;
}

.blog__button {
    display: inline-block;
    padding: 15px 30px;
    background-color: var(--text-color-main);
    color: var(--background-color);
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 35px;
    font-family: 'Patrick hand', sans-serif;
    margin-top: 30px;
    transition: background-color 0.3s ease;
}

.blog__articles {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

@media (min-width: 768px) {
    .blog__articles {
        grid-template-columns: 1fr 1fr;
    }

    .blog__title {
        font-size: 17px;
    }

    .blog__name {
        font-size: 41px;
    }

    .article__title {
        font-size: 24px;
    }
}

@media (min-width: 998px) {
    .blog__articles {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .blog__title {
        font-size: 21px;
    }

    .blog__name {
        font-size: 48px;
    }

    .article__title {
        font-size: 26px;
    }
}

.container-count {
    align-items: center;
    background-color: var(--background-color-articles);
    display: flex;
    font-family: -apple-system,
        "Segoe UI",
        "Helvetica Neue",
        sans-serif;
}

.container-count {
    color: var(--text-color-main);
    margin: 0 auto;
}

.container-count h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
    margin-left: 70px;
}

.container-count li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

.container-count li span {
    display: block;
    font-size: 4.5rem;
}

.emoji {
    display: none;
    padding: 1rem;
}

.emoji span {
    font-size: 4rem;
    padding: 0 .5rem;
}

@media all and (max-width: 768px) {
    h1 {
        font-size: calc(1.5rem * var(--smaller));
    }

    li {
        font-size: calc(1.125rem * var(--smaller));
    }

    li span {
        font-size: calc(3.375rem * var(--smaller));
    }
}