@import url(global.css);
@import url(header-nav.css);

.carousel-inner {
    margin-top: 20px;
    margin-bottom: 20px;
}

img {
    display: block;
    width: 100%;
}

.lock__header {
    background-color: #fff1e6;
}


.words-lock__title {
    font-family: 'Chewy';
    font-size: 34px;
    text-align: center;
    color: #322254;
}

.words-lock__name {
    font-family: 'Chewy';
    font-size: 25px;
    text-align: center;
    color: #322254;
}

.words-lock__content {
    font-family: 'Chewy';
    font-size: 20px;
    text-align: left;
    margin-left: 5px;
    color: #322254;
}

.words-lock__content {
    white-space: pre-line;
}

.first-word {
    color: #322254;
}

body {
    background-color: #4ea646;
}

.words-lock__content {
    list-style: none;
    padding-left: 0;
}

.words-lock__content span {
    display: block;
    margin-left: 0;
    padding-left: 30px;
    position: relative;
}

.words-lock__content span:before {
    content: "";
    background: url("/images/sword2.png") no-repeat;
    background-size: 30px;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}